{% extends config.SEARCH_UI_BASE_TEMPLATE %}

{%- block css %}
    {{ super() }}
    {{ webpack['vendor.css'] }}
{%- endblock css %}


{%- block javascript %}
  {{ super() }}
  {{ webpack['react_searchkit_search_ui_app.js'] }}
   <script type="text/javascript">window.renderReact("{{ data.searchID }}", "{{ data.overwriteMap }}");</script>
   <script type="text/javascript">window.renderReact("{{ data.special }}");</script>
{%- endblock javascript %}


{%- block page_body %}
<div id="{{ data.searchID }}">

</div>
<div id="{{ data.special }}">

</div>
{%- endblock page_body -%}
